.vscode
.env
*.env
secrets/*

#api
rest-api
server/logs
server/node_modules
server/auth.rest
server/categories.rest
server/products.rest
server/access.log
server/server.cert
server/server.key
server/public/uploads/*

#admin client
admin-client/node_modules
admin-client/build
admin-client/.pnp
admin-client.pnp.js
admin-client/coverage
admin-client/.DS_Store
admin-client/.env.local
admin-client/.env.development.local
admin-client/.env.test.local
admin-client/.env.production.local
admin-client/npm-debug.log*
admin-client/yarn-debug.log*
admin-client/yarn-error.log*

#client
client/node_modules
client/build
client/.pnp
client.pnp.js
client/coverage
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
