.quick-nav-wrapper {
    display: flex;
    background-color: var(--quick-nav-wrapper-bg);
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 0px;
    z-index: 1;

    @media (min-width: 700px) {
        display: none;
    }

    ul.quick-nav {
        display: flex;
        overflow-x: auto;

        &> a {
            flex: 0 0 auto;
            padding: 15px 5px;
        }
        li {
            padding: 5px 10px;
            background-color: var(--filters-btn-bg);
            font-size: 0.8rem;

            &.active {
                background-color: var(--filter-menu-bg);
                color: white;
            }
        }
    }
}