.user-settings-wrapper {
    display: flex;
    margin-top: 20px;

    .side-menu {
        flex: 1;
    }

    .user-settings-main {
        flex: 4;
        

        &>h1 {
            
        }

        .user-settings-grid {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-gap: 10px;
            
            .user-settings-middle {
                &>form {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    padding: 31px;
                    flex-direction: column;

                    &>input,
                    button {
                        outline: none;
                        border: none;
                        color: var(--auth-submit-btn-text);
                        border-bottom: 1px solid var(--auth-input-bottom-border);
                        padding: 10px;
                        margin-bottom: 10px;
                        background-color: var(--auth-input-bg);
                        color: var(--auth-input-text);
                    }

                    button {
                        border-bottom: none;
                        background-color: var(--auth-submit-btn-bg);
                        color: black;
                    }
                }

            }
        }
    }
}