.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: bold;
    color: var(--not-found);
    text-shadow: var( --box-shadow);
    margin: 180px 0 ;
    
    a{
        font-size: 2rem;
        display: block;
        text-decoration: underline;
        color: var(--not-found-link)
    }

}